
<!DOCTYPE HTML>
<html>
	<head>
		<style>
			form
			{
				display: flex;
				flex-direction: row;
			}

			input, button 
			{
				display: block; 
			}
		</style>               
		<title>Steve-Oh Karaoke | Karaoke Jedi</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="/static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Sidebar -->
			<section id="sidebar">
				<div class="inner">
					<nav>
						<ul>
							<li><a href="#intro">Welcome</a></li>
							<li><a href="#one">Songbook</a></li>
							<li><a href="#two">Weekly Events</a></li>
							<li><a href="#three">Get in touch</a></li>
						</ul>
					</nav>
				</div>
			</section>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Intro -->
					<section id="intro" class="wrapper style1 header">
						<div class="inner">
							<h1>Steve-Oh Karaoke</h1>
							<p>Welcome to the home of The Karaoke Kult, Canada's 
                                Number 1 Alternative karaoke show. Be sure to 
                                check out our weekly events in the "Weekly 
								Events" section.
                            </p>
						</div>
					</section>

				<!-- One -->
					<section id="one" class="wrapper style2 spotlights">
						<section>
							<a href="#" class="image"><img src="/static/images/books.png" alt="" data-position="center center" /></a>
							<div class="content">
								<div class="inner">
									<h2>Songbook</h2>
									<p>Search our extensive song catalog here.</p>
									<ul class="actions">
										<form action="/search/" method="get">
												<input name="q" type="text" placeholder="Find your song...">
												<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                                        </form>   
									</ul>
								</div>
							</div>
						</section>
						

					</section>

				<!-- Two -->
					<section id="two" class="wrapper style3 fade-up">
						<div class="inner">
							<h2>Weekly Events</h2>
							<p>Check out the Karaoke Kult at one of our
                                regular weekly events. Follow
                                us on Facebook and Instagram to find
                                out about special events.</p>
							<div class="features">
								<section>
									<span class="icon solid major fa-code"></span>
									<h3>Monday - The Moose and Firkin</h3>
									<p>7600 Weston Road 13 & 15, Woodbridge</p>
								</section>
								<section>
									<span class="icon solid major fa-lock"></span>
									<h3>Tuesday - Ground Control</h3>
									<p>1279 Queen Street West, Toronto</p>
								</section>
								<section>
									<span class="icon solid major fa-cog"></span>
									<h3>Wednesday - Church St Bar and Grill</h3>
									<p>477 Church Sreet, Toronto</p>
								</section>
								<section>
									<span class="icon solid major fa-desktop"></span>
									<h3>Thursday - Monarch Tavern</h3>
									<p>12 Clinton Street, Toronto</p>
								</section>
								<section>
									<span class="icon solid major fa-link"></span>
									<h3>Saturday - Annex Social</h3>
									<p>1078 Bathurst Street, Toronto</p>
								</section>
								<section>
									<span class="icon major fa-gem"></span>
									<h3>Sunday - The Rose and Crown</h3>
									<p>2335 Yonge Street, Toronto</p>
								</section>
							</div>
							
						</div>
					</section>

				<!-- Three -->
					<section id="three" class="wrapper style1 fade-up">
						<div class="inner">
							<h2>Get in touch</h2>
							<p>Want to book Steve-Oh for your next event? Drop us a line and we'll get back to you shortly.</p>
							<button onclick="window.location.href='contact';">
								Contact Steve-Oh
							</button>
						</div>
					</section>

			</div>

		<!-- Footer -->
			<footer id="footer" class="wrapper style1-alt">
				<div class="inner">
					<ul class="menu">
						<li>&copy; 2024 By the Karaoke Kult. All rights reserved.</li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="/static/assets/js/jquery.min.js"></script>
			<script src="/static/assets/js/jquery.scrollex.min.js"></script>
			<script src="/static/assets/js/jquery.scrolly.min.js"></script>
			<script src="/static/assets/js/browser.min.js"></script>
			<script src="/static/assets/js/breakpoints.min.js"></script>
			<script src="/static/assets/js/util.js"></script>
			<script src="/static/assets/js/main.js"></script>

            
            
            
            
            
            
            
            

	</body>
</html>