<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Message Sent</title>
    <style>
        body { font-family: Arial, sans-serif; margin: 40px; text-align: center; }
        a { color: #0073e6; text-decoration: none; }
    </style>
</head>
<body>

</body>
</html>



<!DOCTYPE HTML>
<html>
	<head>
              
		<title>Steve-Oh Karaoke | Karaoke Jedi</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="/static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Sidebar -->


		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Intro -->
					<section id="intro" class="wrapper style1 header">
                        <h1>Thank You!</h1>
                        <p>Your message has been sent successfully. We will get back to you shortly.</p>
                        <button onclick="window.location.href='/';">
						    Return Home
						</button>
					</section>



                                    <ul class="icons">
                                        <li><a href="https://www.facebook.com/SteveOKaraoke" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
                                        <li><a href="https://www.instagram.com/steveokaraoke/" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
                                        <li><a href="https://www.youtube.com/thekaraokecult" class="icon brands fa-youtube"><span class="label">YouTube</span></a></li>
                                    </ul>
							    </section>
						</div>
					</section>

			</div>

		<!-- Footer -->
			<footer id="footer" class="wrapper style1-alt">
				<div class="inner">
					<ul class="menu">
						<li>&copy; 2024 By the Karaoke Kult. All rights reserved.</li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="/static/assets/js/jquery.min.js"></script>
			<script src="/static/assets/js/jquery.scrollex.min.js"></script>
			<script src="/static/assets/js/jquery.scrolly.min.js"></script>
			<script src="/static/assets/js/browser.min.js"></script>
			<script src="/static/assets/js/breakpoints.min.js"></script>
			<script src="/static/assets/js/util.js"></script>
			<script src="/static/assets/js/main.js"></script>

            
            
            
            
            
            
            
            

	</body>
</html>